*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sign-up {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
}
h1{
    text-align: center;
}
#personal-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

#personal-info input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s ease;
}

#personal-info input:focus {
    border-color: #00c8ff;
    box-shadow: 0 0 0 3px #00c8ff26;
}

#personal-info input:nth-child(3),
#personal-info input:nth-child(4) {
    grid-column: span 2;
}

@media (max-width: 600px) {
    #personal-info {
        grid-template-columns: 1fr;
    }
    #personal-info input {
        grid-column: span 1 !important;
    }
}
#consent {
    display: flex;
    align-items: center;
    gap: 20px;
}

#consent label {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

#badge {
    background: #4a90e2;
    color: white;
    padding: 1px 6px;
    border-radius: 2px;
    font-size: 12px;
}

#buttons{
    display: flex;
    gap: 20px;

}
#buttons button{
    flex: 1;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
#buttons button[type="submit"] {
    background: #4a90e2;
    color: white;
}

#buttons button[type="submit"]:hover {
    background: #357abd;
}
#buttons button[type="button"] {
    background: #4CAF50;
    color: white;
}

#buttons button[type="button"]:hover {
    background: #3e9442;
}