
<div *ngIf="TASKS.length == 0">
    It is empty
    <!-- <p *ngFor="let item of TASKS">
        {{item.title}}
        {{item.description}}
        {{item.status}}
    </p> -->
</div>
<ul>
    <li *ngFor="let item of TASKS">
        <p>
            {{item.title}}
        </p>
        <p appEllipsis>
            {{item.description}}
        </p>
        <select [(ngModel)]="item.status">
            <option value="Incomplete">Incomplete</option>
            <option value="Completed">Completed</option>
            <option value="In Progress">In Progress</option>
            
        </select>
    </li>
</ul>
